<button (click)="Details()">Details</button>

<div  >
 <table *ngIf="fDetails.length > 0 && showTable" >
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>Country</th>
        <th>state</th>
        <th>City</th>
        <th>MobileNo</th>
        <th>Email</th>
        <th>GSTNo</th>
        <th>PanNo</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <tr *ngFor="let formData of fDetails">
       <td>{{formData.Code}}</td>
       <td>{{formData.Name}}</td>
       <td>{{formData.Address}}</td>
       <td>{{formData.Country}}</td>
       <td>{{formData.state}}</td>
       <td>{{formData.City}}</td>
       <td>{{formData.MobileNo}}</td>
       <td>{{formData.Email}}</td>
       <td>{{formData.GSTNo}}</td>
       <td>{{formData.PanNo}}</td>
       
       
       <td  ><i (click)="deleteRecord(formData.id)" class=" bi bi-trash3-fill"></i></td>
       <td ><i (click)="edit(formData.id)" class="bi bi-pen"></i></td>
    </tr>
</table>
</div>
