<nav class="navbar navbar-light bg-light">
    <button type="button" class="btn btn-outline-danger" (click)="back()">back</button>
</nav>
<br><br>
<div class="main">
    <form action="#" [formGroup]="form">
        <div class="fields">
            <div class="Ifield">
                <label>GST No : </label>
                <input type="text" placeholder="Enter GST No" formControlName="GSTNo"
                    [ngClass]="{error:getControl('GSTNo')?.errors && getControl('GSTNo')?.touched}">
            </div>

            <div class="field">
                <label>PAN No : </label>
                <input type="text" placeholder="Ex:AAECN1498C" formControlName="PANNo"
                    [ngClass]="{error:getControl('PANNo')?.errors && getControl('PANNo')?.touched}" >
            </div>

            <div class="Ifield1">
                <label class="redcol">Code : </label>
                <input type="number" placeholder="Enter Code" formControlName="Code"
                    [ngClass]="{error:getControl('Code')?.errors && getControl('Code')?.touched}">
            </div>
        </div>
        <br><br>

        <div class="fields">
            <div class="Ifield">
                <label class="redcol"> Name : </label>
                <input type="text" placeholder="Enter Name" formControlName="Name"
                    [ngClass]="{error:getControl('Name')?.errors && getControl('Name')?.touched}">
            </div>
            <div >
                <label> Address : </label>
                <input type="text" placeholder="Enter Address" formControlName="Address"
                    [ngClass]="{error:getControl('Address')?.errors && getControl('Address')?.touched}">
            </div>
            <div class="Ifield1">
                <label>Pincode : </label>
                <input type="number" placeholder="Enter  Pincode" formControlName="Pincode"
                    [ngClass]="{error:getControl('Pincode')?.errors && getControl('Pincode')?.touched}">
            </div>
        </div>

        <br><br>
        <div class="fields">
            <div class="field1">
                <label>Country : </label>

                <select select formControlName="Country" class="city">
                    <option selected disabled value="">Select Country</option>
                    <option value="India">India</option>
                    <option value="Germany">Germany</option>
                    <option value="Poland">Poland</option>
                    <option value="Austria">Austria</option>
                </select>
            </div>
            <div class="field">
                <label> State : </label>

                <select formControlName="State" class="city">
                    <option selected disabled value="">Select State</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Goa">Goa</option>
                </select>
            </div>
            <div class="Ifield1">
                <label>City : </label>
                <select formControlName="City" class="city">
                    <option selected disabled value="">Select city</option>
                    <option value="Pune">Pune</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Belgaum">Belgaum</option>
                    <option value="Nashik">Nashik</option>
                </select>
            </div>
        </div>

        <br><br><br>
        <div class="fields">
            <div class="Ifield2">
                <label>Mobile No : </label>
                <input type="number" placeholder="Enter Mobile No" formControlName="MobileNo"
                    [ngClass]="{error:getControl('MobileNo')?.errors && getControl('MobileNo')?.touched}" minlength="10"
                    maxlength="10">

            </div>
            <div class="Ifield1">
                <label>Email:</label>
                <input type="email" placeholder="Enter Email" formControlName="Email"
                    [ngClass]="{error:getControl('Email')?.errors && getControl('Email')?.touched}">
            </div>
        </div>

        <br><br>
        <div class="fields">
            <div class="field1">
                <label>Latitude : </label>
                <input type="number" placeholder="Enter Latitude" formControlName="Latitude"
                    [ngClass]="{error:getControl('Latitude')?.errors && getControl('Latitude')?.touched}">
            </div>
            <div>
                <label>Longitude : </label>
                <input type="number" placeholder="Enter Longitude" formControlName="Longitude"
                    [ngClass]="{error:getControl('Longitude')?.errors && getControl('Longitude')?.touched}">
            </div>
            <div class="Ifield1">
                <label>currency : </label>
                <input type="text" placeholder="Enter currency" formControlName="currency"
                    [ngClass]="{error:getControl('currency')?.errors && getControl('currency')?.touched}">
            </div>
        </div>
        <br><br>
        <button class="butt" (click)="attached()"><i class="bi bi-paperclip"></i> Attached </button>




        <div>
            <form class="personForm" [formGroup]="personForm" *ngIf="showForm">

                <h3 class="label">Contact Person Details</h3>
                <hr>

                <div class="fields">
                    <div class="Ifield">
                        <label class="redcol">Name:</label>
                        <input type="text" placeholder="Enter Person Name" formControlName="name"
                            [ngClass]="{error:getControl('name')?.errors && getControl('name')?.touched}">
                    </div>
                    <div>
                        <label class="redcol">Mobile:</label>
                        <input type="text" placeholder="Enter Mobile no" formControlName="mobile"
                            [ngClass]="{error:getControl('mobile')?.errors && getControl('mobile')?.touched} ">
                    </div>
                    <div>
                        <label>Email:</label>
                        <input type="email" placeholder="Enter Email" formControlName="email"
                            [ngClass]="{error:getControl('email')?.errors && getControl('email')?.touched}">
                    </div>
                    <br><br><br>
                </div>
                <div class="fields">
                    <div class="Ifield3">
                        <label class="redcol">Department:</label>
                        <input type="text" placeholder="Enter Department" formControlName="Department"
                            [ngClass]="{error:getControl('Department')?.errors && getControl('Department')?.touched}">
                    </div>
                    <div class="Ifield4">
                        <label class="redcol">Designation:</label>
                        <input type="text" placeholder="Enter Designation" formControlName="Designation"
                            [ngClass]="{error:getControl('Designation')?.errors && getControl('Designation')?.touched}">
                    </div>

                    <div class="Ifield5">
                        <button type="button" class="btn btn-success" (click)="add()">Add</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" (click)="can()">Cancel</button>
                    </div>
                </div>

                <div *ngIf="showdiv" class="showdetail">
                    <div class="bar"></div>
                    <textarea name="" cols="173" rows="10"></textarea>

                </div>
            </form>
        </div>
        <div><br>
            <button type="button" class="btn btn-success" (click)="submit()">Save</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="cancal()">Cancel</button>
        </div>
    </form>
</div>