form{
    text-align: center;
    width: 100%;
    left: 0%;
}

.error{
    border: 1px solid red;
   
    
}
.ab{
    height: 100px;
    width: 100px;
    border-color: aliceblue;
}
.main{
    height: 100%;
    width: 100%;
}
.bu{
    background-color: rgb(69, 209, 69);
    color: white;
}
.but{
    background-color: red;
    color: white;
}