.butt {
    right: 521px;
    margin-bottom: 20px;
    position: relative;
    width: 276px;
    border: transparent;
    font-weight: bold;
    background-color: rgb(228, 223, 223);
    height: 42px;
}

.personForm {
    border: 1px solid rgb(139, 139, 139);
    width: 98%;
    height: 500px;
    margin-left: 7px;
    margin-right: 5px;
}

.redcol {
    color: red;

}

label {
    color: black;
    font-weight: bold;

}

.showdetail {
    border: 1px solid rgb(139, 139, 139);
    width: 98%;
    height: 282px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    position: relative;
    top: 16px;
}

.city {
    width: 195px;
    height: 27px;
}

.bar {
    background-color: whitesmoke;
    height: 39px;
}

.container form {
    position: relative;
    width: 80%;
    height: 100%;
}

.fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Ifield {
    position: relative;
    left: 70px;
}

.Ifield1 {
    position: relative;
    right: 46px;
}

.Ifield2 {
    position: relative;
    left: 530px;
}

.Ifield3 {
    position: relative;
    left: 22px;
}

.Ifield4 {
    position: relative;
    right: 188px;

}

.Ifield5 {
    position: relative;
    position: relative;
    right: 243px;
}

form {
    text-align: center;
    width: 100%;

}

.error {
    border: 1px solid red;


}

.ab {
    height: 100px;
    width: 100px;
    border-color: aliceblue;
}

.main {
    height: 100%;
    width: 100%;


}